<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel="icon" href="/images/ikonica.png">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="text-transform: uppercase">
      <a class="navbar-brand" href="#"><i class="fas fa-utensils"></i> <%= title %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/odjava"><i class="fas fa-sign-out-alt"></i> Odjava
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mojprofil"><i class="fas fa-user-circle"></i> Moj profil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administracija"> Administracija
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/izvjestaj/admin"> Izvještaj
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <container class="container-fluid container-sm" id="sadrzaj">

      <div class="modal" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Nova notifikacija!</h5>
            </div>
            <div class="modal-body">
              <p>Nova aktivnost dostave!</p>
            </div>
          </div>
        </div>
      </div>


      <input type="text" id="getRestoran" style="display: none" value="<%=restoran[0].restoran_id%>">
      <div class="row p-3">
        <div class="col justify-content-lg-center">
            <div class="card text-white bg-primary mb-3" style="max-width: 70%; margin: auto; min-height: 20rem">
              <div class="card-header"><h3><%= restoran[0].restoran_naziv %></h3></div>
              <div class="card-body">
                <dl>
                  <div class="row p-3">

                    <div class="col col-sm-6">
                      <dt>Tip restorana:</dt>
                      <dd><%= restoran[0].restoran_tip_lookup_naziv %></dd>

                      <dt>Ocjena:</dt>
                      <dd>
                        <% if (restoran[0].restoran_ocjena) { %>
                          <span class="fa fa-star" style="color: orange"></span>
                        <% } else { %>
                          <span class="fa fa-star"style="color: black"></span>
                        <% }%>

                        <% if (restoran[0].restoran_ocjena >= 2) { %>
                          <span class="fa fa-star" style="color: orange"></span>
                        <% } else { %>
                          <span class="fa fa-star" style="color: black"></span>
                        <% }%>

                        <% if (restoran[0].restoran_ocjena >= 3) { %>
                          <span class="fa fa-star" style="color: orange"></span>
                        <% } else { %>
                          <span class="fa fa-star"  style="color: black"></span>
                        <% }%>

                        <% if (restoran[0].restoran_ocjena >= 4) { %>
                          <span class="fa fa-star" style="color: orange"></span>
                        <% } else { %>
                          <span class="fa fa-star"  style="color: black"></span>
                        <% }%>

                        <% if (restoran[0].restoran_ocjena == 5) { %>
                          <span class="fa fa-star" style="color: orange"></span>
                        <% } else { %>
                          <span class="fa fa-star" style="color: black"></span>
                        <% }%>
                      </dd>

                      <dt>Ulica:</dt>
                      <dd><%= restoran[0].restoran_ulica %></dd>

                      <dt>Udaljenost dostave:</dt>
                      <dd><%= restoran[0].restoran_udaljenost_dostave_km %> km</dd>
                    </div>

                    <div class="col col-sm-6">
                      <form action="/update/restoranAdmin" method="POST" id="forma_create_restoran" enctype="multipart/form-data">
                        <fieldset>
                          <legend>Izmijeni podatke:</legend>
                          <div class="form-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" name="myImage" id="myImage" accept="image/*" required>
                              <label class="custom-file-label">Nova slika</label>
                            </div>
                          </div>
                          <div class="form-group" style="display: none">
                            <input type="number" class="form-control"name="id" value="<%=restoran[0].restoran_id%>" required>
                          </div>
                          <div class="form-group">
                            <label>Udaljenost dostave u km: </label>
                            <input type="number" class="form-control" id="udaljenostDostave" name="udaljenostDostave" required>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-secondary">Izmijeni</button>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </dl>
              </div>
            </div>
        </div>
      </div>
    </container>
    <script type="text/javascript" src="/javascripts/admin_glavna.js"></script>

    <div class="footer">
      <div class="container">
        <div class="row p-1">
          <div class="col-4 footer-link" >
            <a href="https://twitter.com/Klopa_ba">
              <i class="fab fa-twitter-square"></i>
              Twitter
            </a>
          </div>
          <div class="col-4 footer-link">
            <a href="https://www.facebook.com/profile.php?id=100066673272409">
              <i class="fab fa-facebook-square"></i>
              Facebook
            </a>
          </div>
          <div class="col-4 footer-link">
            <a href="https://www.instagram.com/klopa.ba/">
              <i class="fab fa-instagram"></i>
              Instagram
            </a>
          </div>
        </div>
        <div class="row p-1">
          <div class="col">
            Copyright 2021 <i class="far fa-copyright"></i> <a href="https://www.linkedin.com/in/sara-farah-materne-2685141b3/">Sara-Farah Materne</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
