<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel="icon" href="/images/ikonica.png">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="text-transform: uppercase">
      <a class="navbar-brand" href="#"><i class="fas fa-utensils"></i> <%= title %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/odjava"><i class="fas fa-sign-out-alt"></i> Odjava
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mojprofil"><i class="fas fa-user-circle"></i> Moj profil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/glavna"> Glavna
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <container class="container-fluid container-sm">
      <div class="row p-3">
        <div class="col justify-content-lg-center">

          <div class="card mb-3">
            <div class="card-body">
              <fieldset>
                <legend>Moje narudžbe</legend>

                <table class="table">
                  <tr>
                    <th>Datum</th>
                    <th>Vrijeme</th>
                    <th>Restoran</th>
                    <th>Sadržaj</th>
                    <th>Iznos i način plaćanja</th>
                    <th>Status</th>
                    <th>Ocijeni narudžbu</th>
                  </tr>

                  <% for (let i = 0; i < narudzbe.length; i++) { %>
                  <tr>
                    <td><%=narudzbe[i].narudzba_datum%></td>
                    <td><%=narudzbe[i].narudzba_vrijeme_dostave%></td>
                    <td><%=narudzbe[i].restoran_naziv%>, <%=narudzbe[i].restoran_ulica%> </td>
                    <td>
                      <%for (let j = 0; j < narudzbe[i].narudzba_sadrzaj.length; j++) {%>
                        <li><%=narudzbe[i].narudzba_sadrzaj[j].narudzba_sadrzaj_naziv%></li>
                      <% } %>
                    </td>
                    <td><%=narudzbe[i].narudzba_cijena%> KM, <%=narudzbe[i].narudzba_nacin_placanja%></td>
                    <% if (narudzbe[i].narudzba_status == 0) { %>
                      <td>Na čekanju</td>
                    <% } else if (narudzbe[i].narudzba_status == 1) { %>
                      <td>Dostavljeno</td>
                    <% } else { %>
                      <td>Odbijeno</td>
                    <% } %>
                      <td>
                        <% if (narudzbe[i].narudzba_status == 1) { %>
                          <% if (narudzbe[i].narudzba_ocjena) { %>
                            <span class="fa fa-star" id="zvjezdica1<%=narudzbe[i].narudzba_id%>" onclick='ocijeniNarudzbu(1, "<%=narudzbe[i].narudzba_id%>" )' style="color: orange"></span>
                          <% } else { %>
                            <span class="fa fa-star" id="zvjezdica1<%=narudzbe[i].narudzba_id%>" onclick='ocijeniNarudzbu(1, "<%=narudzbe[i].narudzba_id%>" )' style="color: black"></span>
                          <% }%>

                          <% if (narudzbe[i].narudzba_ocjena >= 2) { %>
                          <span class="fa fa-star" id="zvjezdica2<%=narudzbe[i].narudzba_id%>" onclick='ocijeniNarudzbu(2, "<%=narudzbe[i].narudzba_id%>" )' style="color: orange"></span>
                          <% } else { %>
                          <span class="fa fa-star" id="zvjezdica2<%=narudzbe[i].narudzba_id%>" onclick='ocijeniNarudzbu(2, "<%=narudzbe[i].narudzba_id%>" )' style="color: black"></span>
                          <% }%>

                          <% if (narudzbe[i].narudzba_ocjena >= 3) { %>
                          <span class="fa fa-star" id="zvjezdica3<%=narudzbe[i].narudzba_id%>" onclick='ocijeniNarudzbu(3, "<%=narudzbe[i].narudzba_id%>" )' style="color: orange"></span>
                          <% } else { %>
                          <span class="fa fa-star" id="zvjezdica3<%=narudzbe[i].narudzba_id%>" onclick='ocijeniNarudzbu(3, "<%=narudzbe[i].narudzba_id%>" )' style="color: black"></span>
                          <% }%>

                          <% if (narudzbe[i].narudzba_ocjena >= 4) { %>
                          <span class="fa fa-star" id="zvjezdica4<%=narudzbe[i].narudzba_id%>" onclick='ocijeniNarudzbu(4, "<%=narudzbe[i].narudzba_id%>" )' style="color: orange"></span>
                          <% } else { %>
                          <span class="fa fa-star" id="zvjezdica4<%=narudzbe[i].narudzba_id%>" onclick='ocijeniNarudzbu(4, "<%=narudzbe[i].narudzba_id%>" )' style="color: black"></span>
                          <% }%>

                          <% if (narudzbe[i].narudzba_ocjena == 5) { %>
                          <span class="fa fa-star" id="zvjezdica5<%=narudzbe[i].narudzba_id%>" onclick='ocijeniNarudzbu(5, "<%=narudzbe[i].narudzba_id%>" )' style="color: orange"></span>
                          <% } else { %>
                          <span class="fa fa-star" id="zvjezdica5<%=narudzbe[i].narudzba_id%>" onclick='ocijeniNarudzbu(5, "<%=narudzbe[i].narudzba_id%>" )' style="color: black"></span>
                          <% }%>
                        <% } %>
                      </td>
                  </tr>
                  <% } %>
                </table>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </container>

    <script type="text/javascript" src="/javascripts/mojenarudzbe.js"></script>

    <div class="footer">
      <div class="container">
        <div class="row p-1">
          <div class="col-4 footer-link" >
            <a href="https://twitter.com/Klopa_ba">
              <i class="fab fa-twitter-square"></i>
              Twitter
            </a>
          </div>
          <div class="col-4 footer-link">
            <a href="https://www.facebook.com/profile.php?id=100066673272409">
              <i class="fab fa-facebook-square"></i>
              Facebook
            </a>
          </div>
          <div class="col-4 footer-link">
            <a href="https://www.instagram.com/klopa.ba/">
              <i class="fab fa-instagram"></i>
              Instagram
            </a>
          </div>
        </div>
        <div class="row p-1">
          <div class="col">
            Copyright 2021 <i class="far fa-copyright"></i> <a href="https://www.linkedin.com/in/sara-farah-materne-2685141b3/">Sara-Farah Materne</a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
