<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
  <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/footer.css' />
  <link rel="icon" href="/images/ikonica.png">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="text-transform: uppercase">
  <a class="navbar-brand" href="#"><i class="fas fa-utensils"></i> <%= title %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/odjava"><i class="fas fa-sign-out-alt"></i> Odjava
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mojprofil"><i class="fas fa-user-circle"></i> Moj profil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/glavna">Glavna
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul>
  <% if (typeof errors != "undefined") { %>
    <% for (let i=0; i<errors.length; i++) {%>
      <li> <%= errors[i].message %></li>
    <%}%>
  <%}%>
</ul>

<container class="container-fluid container-sm">
  <div class="row">

      <div id="accordion" style="width: 80%  !important; margin: auto">

        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Dodaj novog admina
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

              <form action="/create/admin" method="POST" id="forma_create_admin">
                <fieldset>
                  <legend>Novi admin</legend>

                  <div class="form-group">
                    <input type="text" class="form-control" id="imeAdmina" placeholder="Ime" name="ime" required>
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" id="prezimeAdmina" placeholder="Prezime" name="prezime" required>
                  </div>

                  <div class="form-group">
                    <input type="email" class="form-control" id="mailAdmina" placeholder="E-mail" name="mail" required>
                  </div>

                  <div class="form-group">
                    <input type="password" class="form-control" id="prezimeAdmina" placeholder="Šifra" name="sifra" required>
                  </div>

                  <div class="form-group">
                    <label for="exampleSelect1">Restoran:</label>
                    <select class="form-control" id="restoran" name="restoran">
                      <% for (let i=0; i<restorani.length; i++) {%>
                        <option value="<%=restorani[i].restoran_id%>"><%=restorani[i].restoran_naziv%></option>
                      <% } %>
                    </select>
                  </div>

                  <button type="submit" class="btn btn-primary" id="dugmic">Spasi</button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Dodaj dostavljača
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

              <form action="/create/dostavljac" method="POST" id="forma_create_dostavljac">
                <fieldset>
                  <legend>Novi dostavljač</legend>

                  <div class="form-group">
                    <input type="text" class="form-control" id="imeDostavljaca" placeholder="Ime" name="ime" required>
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" id="prezimeDostavljaca" placeholder="Prezime" name="prezime" required>
                  </div>

                  <div class="form-group">
                    <input type="email" class="form-control" id="mailDostavljaca" placeholder="E-mail" name="mail" required>
                  </div>

                  <div class="form-group">
                    <input type="password" class="form-control" id="prezimeDostavljaca" placeholder="Šifra" name="sifra" required>
                  </div>

                  <button type="submit" class="btn btn-primary" id="dugmic">Spasi</button>
                </fieldset>
              </form>


            </div>
          </div>
        </div>
      </div>
  </div>

</container>

<div class="footer" style="margin-top: 350px">
  <div class="container">
    <div class="row p-1">
      <div class="col-4 footer-link" >
        <a href="https://twitter.com/Klopa_ba">
          <i class="fab fa-twitter-square"></i>
          Twitter
        </a>
      </div>
      <div class="col-4 footer-link">
        <a href="https://www.facebook.com/profile.php?id=100066673272409">
          <i class="fab fa-facebook-square"></i>
          Facebook
        </a>
      </div>
      <div class="col-4 footer-link">
        <a href="https://www.instagram.com/klopa.ba/">
          <i class="fab fa-instagram"></i>
          Instagram
        </a>
      </div>
    </div>
    <div class="row p-1">
      <div class="col">
        Copyright 2021 <i class="far fa-copyright"></i> <a href="https://www.linkedin.com/in/sara-farah-materne-2685141b3/">Sara-Farah Materne</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
